.figure_search{
    margin: 0 auto;
}
/*  */
.filterbox{
    display: flex;
    width: 190px;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}
.filterbox_btn{
    padding: 0 10px;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }
  
  .pagination-btn.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .pagination button {
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 1px solid #7f7f7f;
    /* padding: 8px 12px; */
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  